.login-wrapper{
	p.t1{
		margin: 0.75em 0.75em 0.5em;
		font-size: 125%;
		text-transform: uppercase;
	}
	p.t2{
		margin: 0 1.25em 1em;
		font-weight: bold;
		font-size: 80%;
		color: $secondary_color;
		text-transform: uppercase;
	}
}

.login-form{
	margin: 0 auto;
	padding: 1em;
	background-color: white;
	vertical-align: middle;
	border: 1px solid $border_color;
	input[type='email'], input[type="password"]{
		display: block;
		margin: 0.75em;
		width: 20em;
		padding: 0.5em;
		border-radius: 2px;
		border: 1px solid $border_color;
		&.has-error{
			border-color: red;
		}
	}
	input[type='checkbox']{
		display: inline-block;
		vertical-align: middle;
		margin: 0.5em 0.75em;
	}
	label {
		font-size: 75%;
		display: inline-block;
		a{
			color: $secondary_color;
			text-decoration: none;
		}
	}
	input[type='submit']{
		background-color: $button_color;
		color: white;
		padding: 0.75em 1.25em;
		margin: 0.5em 0.75em;
		display: block;
		border: none;
		border-radius: 2px;
		&:disabled{
			background-color: $border_color;
		}
	}
	p.t3{
		margin: 1em 0.75em;
		font-weight: bold;
		font-size: 75%;
	}
}
